#primary.site-content {
  float: left;
  width: 100%;
}
#secondary {
  display: none;
}
div.bmp-gallery {
  background: #ccc;
  width: 100%;
  zoom: 1;
  overflow: auto;
}
div.bmp-gallery.menu-left ul.bmp-gallery-filters {
  text-align: left;
}
div.bmp-gallery.menu-center ul.bmp-gallery-filters {
  text-align: center;
}
div.bmp-gallery.menu-right ul.bmp-gallery-filters {
  text-align: right;
}
div.bmp-gallery ul.bmp-gallery-filters {
  zoom: 1;
  overflow: auto;
  clear: both;
  display: block;
  padding: 20px;
}
div.bmp-gallery ul.bmp-gallery-filters,
div.bmp-gallery ul.bmp-gallery-filters li {
  margin: 0;
  padding: 0;
}
div.bmp-gallery ul.bmp-gallery-filters li {
  display: inline;
}
div.bmp-gallery ul.bmp-gallery-filters li a {
  display: inline-block;
  background: #444;
  color: #fff;
  padding: 5px 8px;
}
div.bmp-gallery ul.bmp-gallery-list,
div.bmp-gallery li.bmp-gallery-item {
  display: block;
  margin: 0;
  padding: 0;
}
div.bmp-gallery ul.bmp-gallery-list {
  zoom: 1;
  overflow: auto;
  overflow: hidden;
  clear: both;
}
div.bmp-gallery ul.bmp-gallery-list li.bmp-gallery-item {
  box-sizing: border-box;
  width: 25%;
  max-width: 300px;
  float: left;
}
div.bmp-gallery ul.bmp-gallery-list li.bmp-gallery-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
  box-shadow: none;
}
